INCIDENTS_DATASET_PATH=./data/incidentes_simulado.csv
INE_CENSUS_DATA_PATH=./data/ine_manzanas.csv
CALLES_DATASET_PATH=./data/calles_sectra.geojson
PORT=8000
BUFFER_BUSQUEDA_M=75
NOCHE_HORA_INICIO=20
NOCHE_HORA_FIN=6
PESO_NOCTURNO=1.3
